
<head>
    <%- include('./includes/head.ejs') %>
        <link rel="stylesheet" href="../public/css/profile.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var ar = [
            ["Year", "Number of bookings"]
        ];
        cur_year = <%=cur_year%>;
        num_booking_data = <%-num_booking_data%>;
        for(var i=cur_year-4; i<=cur_year; i++)
        {
            var found = false;
            
            var num_bookings;
            for(const tup in num_booking_data){
                if(num_booking_data[tup][0] == i){
                    found = true;
                    num_bookings = num_booking_data[tup][1];
                    break;
                }
            }
            if(!found){
                num_bookings = 0;
            }
            ar.push([i.toString(), parseInt(num_bookings)]);
        }
        var data = google.visualization.arrayToDataTable(ar);

        var view = new google.visualization.DataView(data);
        

        var options = {
            title: "Number of bookings in the last 5 years",
            width: 600,
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("num_bookings"));
        chart.draw(view, options);

        var ar2 = [
            ["Year", "Number of cancels"]
        ];
        num_cancellation_data = <%-num_cancellation_data %>;
        for (var i = cur_year - 4; i <= cur_year; i++) {
            var found = false;

            var num_cancel;
            for (const tup in num_cancellation_data) {
                if (num_cancellation_data[tup][0] == i) {
                    found = true;
                    num_cancel = num_cancellation_data[tup][1];
                    break;
                }
            }
            if (!found) {
                num_cancel = 0;
            }
            ar2.push([i.toString(), parseInt(num_cancel)]);
        }
        var data2 = google.visualization.arrayToDataTable(ar2);

        var view2 = new google.visualization.DataView(data2);


        var options2 = {
            title: "Number of booking cancellations in the last 5 years",
            width: 600,
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart2 = new google.visualization.ColumnChart(document.getElementById("num_cancel"));
        chart2.draw(view2, options2);


        var ar3 = [
            ["Year", "Number of good ratings"]
        ];
        num_good_ratings_data = <%-num_good_ratings_data %>;
        for (var i = cur_year - 4; i <= cur_year; i++) {
            var found = false;

            var num_ratings;
            for (const tup in num_good_ratings_data) {
                if (num_good_ratings_data[tup][0] == i) {
                    found = true;
                    num_ratings = num_good_ratings_data[tup][1];
                    break;
                }
            }
            if (!found) {
                num_ratings = 0;
            }
            ar3.push([i.toString(), parseInt(num_ratings)]);
        }
        var data3 = google.visualization.arrayToDataTable(ar3);

        var view3 = new google.visualization.DataView(data3);


        var options3 = {
            title: "Number of good (>=4) ratings in the last 5 years",
            width: 600,
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart3 = new google.visualization.ColumnChart(document.getElementById("num_rating"));
        chart3.draw(view3, options3);
    }
</script>




<body>
    <%- include('./includes/navigation.ejs') %>
    <div id="num_bookings" style="width: 900px; height: 350px;"></div>
    <div id="num_cancel" style="width: 900px; height: 350px;"></div>
    <div id="num_rating" style="width: 900px; height: 350px;"></div>
</body>

