<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="../public/css/profile.css"> 
</head>
<body>
<%- include('./includes/navigation.ejs') %>
<br>
<div class="container">
    <div class="main-body">
        <hr>
          <h3 class="text-center">Search Results</h3>
          <hr>
          <div style="padding-bottom: 20px;
              max-height: 70vh;
              overflow-x: hidden;
              overflow-y: auto;
              text-align:justify;">

              <% if (num_hostels===0) {%>
                <br><h5>No hostel found!</h5>
              <% }%>
              
              <% hostels.forEach((item)=>{%>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><%=item.building_name%>
                    
                      <form action="/customer/search_results" method="POST">
                        <input name="building_id" type="hidden" value="<%=item.building_id%>">
                        <input name="rooms_type_id" type="hidden" value="<%=item.rooms_type_id%>">
                        <input name="check_in_date" type="hidden" value="<%=check_in_date%>">
                        <input name="check_out_date" type="hidden" value="<%=check_out_date%>">
                        <button type="submit" class="btn btn-info" style="float: right; width:200px;">Book</button>
                      </form>
                    
                  </h5>
                    <p><%=item.addr%></p>
                    <p>Rent: <%=item.rent%></p>
                    <p><%=item.num_rooms%> rooms available</p>
                    <%if(item.additional_info){%>
                      <span style="display:inline-block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      max-width: 100ch;">About: <%=item.additional_info%></span>
                        <%}%>
                      </div><br>
                    </div>
                
                <br>
              <%});%> 
              </div>
        </div>
    </div>
	
</script>
</body>